{% extends 'base.html.twig' %}

{% block title %}CGU Food N' Wellbeing
{% endblock %}

{% block body %}

{{ include("partials/title.html.twig", {'name' : 'Conditions Générales d\'Utilisation'} ) }}




	<div class="container ">
		

		<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente deserunt, aspernatur corporis assumenda, quaerat consectetur unde iure vero voluptatem natus commodi voluptatibus odit! Fuga laborum dolores omnis? Blanditiis nesciunt sint eius soluta ab, aliquid voluptatem deserunt quia doloribus obcaecati! Inventore repudiandae nihil quibusdam? Odio quod saepe commodi voluptates quibusdam molestias minima sapiente sequi id sunt, ipsum eligendi, omnis doloremque pariatur repellendus officiis fugiat. Beatae, ducimus aperiam accusantium, sapiente sint assumenda deserunt in labore facere incidunt dolores velit voluptatum iure. Neque facere tenetur commodi nam fugiat provident pariatur a maiores, illo voluptatem reiciendis consequuntur, itaque quidem incidunt soluta nobis voluptates, alias aperiam vero dolores sit. Reprehenderit, ipsam quas enim magnam voluptatum a pariatur impedit quibusdam veritatis! Facere nesciunt nihil eius aut ipsam, architecto harum maiores laboriosam nulla quibusdam natus accusantium cupiditate, consequatur, mollitia exercitationem alias. Autem, ut rem ducimus eaque adipisci, architecto natus excepturi ex et inventore corrupti maiores dolore reiciendis explicabo, voluptate fuga suscipit at dignissimos repellendus non consequatur! Minus dolore fugiat quaerat facilis accusamus pariatur iusto autem vero fugit possimus libero optio, dolor sit numquam sint expedita rerum sed omnis asperiores maiores cupiditate. Nemo, sint dolores nulla, exercitationem at inventore minima quasi quaerat, velit perspiciatis reiciendis possimus fugiat.
		</p>
	</div>
{% endblock %}
